body{
    text-align: center;
}
h1{
    display: none;
}
@media  (max-width:699px){
    body{
        background: rgb(220, 5, 5);
        h1{
        display: inline;
        }
        .four,.two,.tree{
            display: none;
        }
    }
}
@media  (min-width:700px){
    body{
        background: rgb(225, 17, 180);
        .one{
            display: none;
        }
        .two{
            display: block;  font-size: 70px;  
        }
    }
}
@media  (min-width:1000px){
    body{
        background: rgb(23, 233, 65);
        .one,.two{
            display: none;
        }
        .tree{
            display: block;  font-size: 70px;  
        }
    }
}
@media  (min-width:1200px){
    body{
        background: rgb(89, 21, 2);
        .one,.two,.tree{
            display: none;
        }
        .four{
            display: block;  font-size: 70px;  
        }
    }
}